* {
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.container,
.nav-container,
.menu-container,
.section-container,
.article-container,
.long-card-container{
    width: 1260px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}



/* ==============NAVBAR============== */
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    height: 105px;
    background-color: #F6F6F6;
}

.valyuta {
    color: rgb(20, 20, 187);
    font-weight: bold;
}

.nav-left,
.nav-right {
    display: flex;
}

.nav-right {
    align-items: center;
}

.nav-left {
    display: flex;
    justify-content: space-evenly;
}

.lang {
    width: 70px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3px;
    padding-right: 3px;
    background: #DCE6FF;
    border-radius: 39px;
}

.lang-uz,
.lang-ru {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 50%;
    text-align: center;
    transition: 0.2s;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}

.lang-ru:hover,
.lang-ru:active {
    background-color: #fff;
}

.lang-uz:hover,
.lang-uz:active,
.lang-uz {
    background-color: #fff;
}

.uz-link {
    color: black;
}

.ru-link {
    color: #A6A6A6;
}

.nav-left-element {
    margin-right: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.nav-img {
    background-color: #fff;
    padding: 9px 6px;
    border-radius: 7px;
}

.nav-input {
    border: none;
    height: 45px;
    width: 275px;
    border-radius: 60px;
    background: #FFFFFF;
    padding-left: 41px;
}

.nav-right-element {
    margin-left: 25px;
}

.nav-right-element:first-child {
    margin-left: 0;
}

.btn {
    height: 45px;
    width: 89px;
    border-radius: 10px;
    border: none;
    padding: 13px, 20px, 13px, 20px;
    background: #7296EC;
    color: white;
}



/* <==========MENU==========> */
hr{
    margin-bottom: 60px;
    width: 1200px;
}
.menu {
    padding-left: 0;
    margin-top: 30px;
}

.links {
    margin: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.link-items {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-right: 34px;
}

.link-items a {
    color: #7F7F7F;
}



/* <==========SHOP_ME==========> */
.section{
    margin-bottom: 50px;
}



/* <==========CARDS==========> */
article{
    margin-bottom: 30px;
}
.card{
    display: flex;
    flex-wrap: wrap;
}
.card-item {
    width: 393px;
    height: 382px;
    text-align: left;
    background-color:  #F6F6F6;
    padding: 0 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.three{
    margin-right: 0px;
}
.card-title h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    
}
.card-body p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}
.card-footer {
    display: flex;
    align-items: center;
}
.card-footer-logo{
    margin-right: 10px;
}



/* ========== ========= */
.long-card{
    width: 100%;
    display: flex;
    width:1050px;
    margin-bottom:200px;
    background-image:url(/img/orqa_fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.long-card-btn{
    width: 149px;
    height: 50px;
    background: #F78B3B;
    color: white;
    padding:13px, 30px, 13px, 30px;
}
.long-card h2{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;   
}
